body{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    background:url(photo1.jpg) ;
    background-size: cover;
    

}
.box{
    width: 300px;
    padding: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background:hsla(0, 0%, 0%, 0.322);
    border-radius: 10px;

}
.box h1{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700px;
}
.box input[type="text"],.box input[type="password"]{
    border: 0;
    background: none;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: 3px solid #0367fd;
    padding: 14px,10px;
    height: 39px;
    width: 230px;
    outline: none;
    color: rgb(243, 237, 237);
    border-radius: 24px;
    /* transition: 0.25px; */
    transition: 0.5s ease-in-out;

}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 240px;
    border-color: #e8b81cec;

}
.box input[type="submit"]{
   
    border: 0;
    background: none;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: 3px solid #e8b81cec;
    padding: 14px 35px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;

}
.box input[type="submit"]:hover{
    background-color:#e8b81cec ;

}